.main-navigation {
  clear: both;
  display: block;
  float: left;
  margin: auto 0;
  height: 100%;
  font-family: $font__sans;
  font-weight: 300;

  #primary-menu {
    position: absolute;
    display: none;
    opacity: 0;
    transform: translateX(calc(-100% + 48px));
    width: 100vw;
    @include transition(opacity 0.5s ease-in-out);

    @include breakpoint("medium") {
      position: relative;
      width: auto;
      transform: unset;
      margin-right: unset;
      opacity: 1;
      left: unset;
      top: unset;
      right: unset;
      display: grid;
      overflow: unset;
      align-content: center;
      height: 100%;
      z-index: 5;
    }
  }
  &.toggled #primary-menu {
    display: block;
    opacity: 1;
    width: calc(100vw) !important;
    @include transition(opacity 0.5s ease-in-out);
    @include breakpoint("medium") {
      height: unset;
      top: unset;
      width: unset;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background: white;
    position: relative;

    padding: 12px 20px 20px;

    @include breakpoint("medium") {
      padding: unset;
      top: auto;
      box-shadow: none;
    }
    li {
      &:hover > ul,
      &.focus > ul {
        left: 100%;
      }

      a {
        width: 200px;
        transition: all 0.25s ease;
        color: $color__text-gray2;
        @include breakpoint("medium") {
          width: auto;
        }
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;
    @include breakpoint("medium") {
      float: left;
    }

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    transition: all 0.25s ease;
    display: block;
    text-decoration: none;
    color: $color__text-gray2;
  }
  a:hover,
  a.focus {
    transition: all 0.25s ease;
    color: #333;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle {
  @include breakpoint("maxsmall") {
    display: block;
    height: 40px;
    width: 48px;
    background-color: white;
    border: none;
    padding: 20px;
  }
  @include breakpoint("medium") {
    display: none;
  }
}

.main-navigation ul {
  width: 100vw !important;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px 0px;

  @include breakpoint("medium") {
    width: auto !important;
    box-shadow: unset;
  }
  li {
    padding: 8px 0;
    float: none;
    background-color: white;
    font-size: 18px;
    @include breakpoint("medium") {
      padding: 8px 12px;
      background-color: unset;
      font-size: unset;
    }
  }
}

@include breakpoint("medium") {
  .main-navigation ul {
    display: block;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    list-style-type: none;
    column-gap: 0.5rem;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.menu-toggle {
  position: relative;
}

.menu-button {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-40%, -50%);
  width: 18px;
  height: 14px;
  cursor: pointer;
}

.menu-button:hover .bar {
  background: $dark-gray;
}

.bar {
  transition: all 0.25s ease;
  height: 2px;
  background: $teal;
  position: absolute;
}

.top {
  top: 0;
  width: 50%;
}

.middle {
  width: 100%;
  top: 6px;
}

.bottom {
  width: 50%;
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top.bar.left {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.top.bar.right {
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.bottom.bar.left {
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.bottom.bar.right {
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.toggled {
  .menu-button .top.bar.left {
    -webkit-transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
    -moz-transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
    -ms-transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
    -o-transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
    transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
  }

  .menu-button .top.bar.right {
    -webkit-transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
    -moz-transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
    -ms-transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
    -o-transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
    transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
  }

  .menu-button .bottom.bar.left {
    -webkit-transform: translate(2px, 2px) rotate(-45deg) scaleX(1.25);
    -moz-transform: translate(2px, 2px) rotate(-45deg) scaleX(1.25);
    -ms-transform: translate(2px, 2px) rotate(-45deg) scaleX(1.25);
    -o-transform: translate(2px, 2px) rotate(-45deg) scaleX(1.25);
    transform: translate(2px, 2px) rotate(-45deg) scaleX(1.25);
  }

  .menu-button .bottom.bar.right {
    -webkit-transform: translate(-2px, 2px) rotate(45deg) scaleX(1.25);
    -moz-transform: translate(-2px, 2px) rotate(45deg) scaleX(1.25);
    -ms-transform: translate(-2px, 2px) rotate(45deg) scaleX(1.25);
    -o-transform: translate(-2px, 2px) rotate(45deg) scaleX(1.25);
    transform: translate(-2px, 2px) rotate(45deg) scaleX(1.25);
  }

  .menu-button .middle.bar {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
}
