.author__container {
  margin: 4rem 0;
  border-top: 1px solid $color__hr;
  border-bottom: 1px solid $color__hr;
  padding-top: 1rem;
}

.author__block {
  margin-bottom: 2rem;
  max-width: 700px;

  @include breakpoint("small") {
    display: grid;
    grid-template-columns: 75px;
    grid-column-gap: 1rem;
    grid-template-areas: "authorimg authortext";
  }

  grid-template-areas: img {
    grid-area: authorimg;
  }

  .author__content {
    grid-area: authortext;
    h4 {
      margin: 0;
      font-size: 25px;
    }
  }

  .tiny-text {
    margin-top: 0.25rem;
  }

  .tiny-text,
  .author__name {
    text-align: center;
    @include breakpoint("small") {
      text-align: left;
    }
  }
  img.component__imgcircle {
    display: block;
    margin: 0 auto;
    @include breakpoint("small") {
      margin: unset;
    }
  }
}
