/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.dialog__container {
  border-left: 0.5rem solid #f2f2f2;
  & > * {
    margin-left: calc(20px - 0.5rem);
    @include breakpoint("small") {
      margin-left: 20px;
    }
  }
}
