.focus__container.aligncenter {
  background-color: #f2f2f2;
  max-width: $post__content-width;
  position: relative;

  .focus__content {
    padding: 24px;

    @include breakpoint("medium") {
      padding: 32px;
    }

    h3 {
      margin-top: 0;
      font-family: $font__sans;
    }
  }
}

.alignright .focus__content {
  border-top: 3px solid var(--post-color);
  border-bottom: 1px solid $color__hr;
  padding-top: 0.5rem;

  @include breakpoint("medium") {
    border-bottom: none;
  }
}
