.focus__container.aligncenter {
  background-color: #f2f2f2;

  max-width: 700px;
  margin-bottom: 32px;
  position: relative;

  .focus__content {
    padding: 24px;

    @include breakpoint("medium") {
      padding: 32px;
    }
  }
}

.alignright .focus__content {
  border-top: 3px solid var(--post-color);
  padding: 12px 0;
  width: 100%;

  p {
    font-family: $font__sans;
    font-size: $font__size-body_mobile;
    line-height: $font__line-height-body_mobile;
    @include breakpoint("large") {
      font-size: $font__size-body;
      line-height: $font__line-height-body;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
