.single-post .entry-content {
  padding: 20px;
  @include breakpoint("small") {
    padding: 0 6vw 7vw;
  }
  @include breakpoint("medium") {
    padding: 0 7vw 7vw;
  }
  @include breakpoint("large") {
    width: $post__content-wide-width-large;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
  }
  p,
  .aligncenter {
    max-width: $post__content-width;
  }

  .aligncenter {
    margin: 0;
    margin-bottom: 32px;
  }

  .alignright,
  .alignleft {
    @include breakpoint("medium") {
      width: 40%;
      clear: both;
    }
  }
  .alignleft {
    margin-bottom: 2rem;

    @include breakpoint("medium") {
      display: inline;
      float: left;
      margin: 0 4vw 1rem 0;
    }
  }

  .alignright {
    margin-bottom: 2rem;

    @include breakpoint("medium") {
      margin: 0 0 1rem 4vw;
      display: inline;
      float: right;
    }
  }

  .alignfull {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    &.wp-block-image img,
    &.wp-block-video video {
      width: 100vw !important;
      max-width: 100vw;
    }
  }
}

.block-editor-block-list__block[data-type="core/embed"][data-align="left"]
  .block-editor-block-list__block-edit,
.block-editor-block-list__block[data-type="core/embed"][data-align="right"]
  .block-editor-block-list__block-edit,
.wp-block-embed.alignleft,
.wp-block-embed.alignright {
  max-width: 500px;
}
