.single-post .entry-content,
#sharefont {
  margin: 0 auto;
  @include breakpoint("small") {
    margin: 0 auto;
    width: $block-wide;
    max-width: 1200px;
  }
  > * {
    margin: 0 20px;
    max-width: 100%;

    &.dialog__container {
      margin-left: 0;
      margin-right: 20px;
      @include breakpoint("small") {
        margin: 0 auto;
      }
    }

    @include breakpoint("small") {
      margin: 0 auto;
      width: 95%;
      max-width: $post__content-width;
    }
    @include breakpoint("medium") {
      width: $block-med;
    }
    @include breakpoint("large") {
      width: calc($block-med + 100px);
    }

    &.wp-block-image {
      @include breakpoint("small") {
        max-width: 100%;
        width: 100%;
      }
    }

    &.aligncenter,
    & > .aligncenter {
      max-width: $post__content-width;
    }

    &.alignright,
    & > .alignright,
    &.alignleft,
    & > .alignright {
      margin-bottom: 24px !important;
      clear: both;
      @include breakpoint("small") {
        width: $block-float;
        max-width: $block-max-float;
      }
      @include breakpoint("medium") {
        max-width: $block-max-float;
      }
      &.small {
        @include breakpoint("small") {
          max-width: $block-max-float-small;
        }
        @include breakpoint("medium") {
          max-width: $block-max-float;
        }
      }
    }
    &.alignleft,
    & > .alignleft {
      @include breakpoint("small") {
        float: left;
        margin-right: 32px;
      }
      @include breakpoint("medium") {
        float: left;
        margin-right: 40px;
      }
    }

    &.alignright,
    & > .alignright {
      @include breakpoint("small") {
        margin-left: 32px;
        float: right;
      }
      @include breakpoint("medium") {
        margin-left: 40px;
      }
    }

    &.wp-block-jourblocks-profile.alignright,  .wp-block-jourblocks-profile.alignright {
      width: 225px;
    }

    &.alignwide {
      @include breakpoint("small") {
        margin: 0 auto;
        width: 100%;
        max-width: $block-max-wide;
      }
    }
    &.alignwide figcaption,
    &.alignfull figcaption {
      @include breakpoint("small") {
        margin: 0 auto;
        width: 100%;
        max-width: $post__content-width;
      }
    }
    &.alignfull figcaption {
      margin: 0 20px;
      @include breakpoint("small") {
        width: $post__content-width;
      }
    }

    &.alignfull {
      width: $block-full;
      max-width: $block-full;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      &.wp-block-image img,
      &.wp-block-video video {
        width: 100vw !important;
        max-width: 100vw;
      }
    }
  }
}
