.single-post .entry-content {
  padding: 20px;
  @include breakpoint("medium") {
    padding: 0 7vw 7vw;
  }
  @include breakpoint("large") {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
  }
  p,
  .aligncenter {
    max-width: 700px;
  }

  .aligncenter {
    margin: 0;
  }

  .alignright,
  .alignleft {
    margin: 0 20px;
    @include breakpoint("medium") {
      width: 40%;
      clear: both;
    }
  }
  .alignleft {
    @include breakpoint("medium") {
      display: inline;
      float: left;
      margin: 0 4vw 1rem 0;
    }
  }

  .alignright {
    @include breakpoint("medium") {
      display: inline;
      float: right;
      margin: 0 0 1rem 4vw;
    }
  }

  .aligncenter {
  }
  .alignfull {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  .alignmedium {
    @include breakpoint("medium") {
      width: 75%;
    }
  }
  .alignshort {
    margin: 20px;
    @include breakpoint("medium") {
      width: 90%;
      max-width: 700px;
      margin: 0 6vw;
    }
  }
  .alignwide {
  }
}

.block-editor-block-list__block[data-type="core/embed"][data-align="left"]
  .block-editor-block-list__block-edit,
.block-editor-block-list__block[data-type="core/embed"][data-align="right"]
  .block-editor-block-list__block-edit,
.wp-block-embed.alignleft,
.wp-block-embed.alignright {
  max-width: 500px;
}
