//Common
.entry-header {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
  margin-bottom: 3rem;
}

.entry-header {
  //background-color: var(--post-color);
}

.post__authors,
.post__date {
  font-family: $font__sans;
  line-height: $font__line-height-caption;
  color: $color__text-gray2;
}

.post .entry-title {
  margin-top: 0.5rem;
  @include font-size(40px);
  line-height: 1.2;
  @include breakpoint("xlarge") {
    @include font-size(2.8rem);
  }
}

.entry-header__image {
  background-position: center center;
  background-size: cover;
  grid-area: imagearea;
}

.entry-header__text {
  position: relative;
  grid-area: textarea;
}

.post__date {
  grid-area: date;
  font-size: $font__size-caption;
}

.entry-title {
  grid-area: title;
}

.post__intro {
  grid-area: intro;
}

.post__image {
  grid-area: image;
}

.post__authors {
  grid-area: authors;
  font-size: $font__size-caption;
}

.entry-header__caption {
  grid-area: caption;
}

//Color block
.color-block {
  display: grid;

  grid-template-columns: 100% 100%;
  grid-template-rows: auto auto;
  grid-template-areas: "imagearea" "textarea";
  @include breakpoint("medium") {
    grid-template-columns: 40% 60%;
    grid-template-areas: "textarea imagearea";
  }
  @include breakpoint("large") {
    grid-template-columns: 50% 50%;
  }

  &.entry-header {
    margin-bottom: 0px !important;
    @include breakpoint("medium") {
      margin-bottom: 3rem;
    }
  }
  .entry-header__image {
    position: relative;
    display: grid;
    grid-template-columns: auto 24px;
    grid-template-rows: 72px auto auto;
    grid-template-areas: "colorblock ." "image image" "caption .";
    line-height: 0;
    grid-row-start: 1;
    grid-row-end: span 1;
    @include breakpoint("small") {
      grid-template-columns: 1fr 48px 30%;
      grid-template-rows: 72px auto;
      grid-template-areas: "colorblock . ." "image image caption";
    }
    @include breakpoint("medium") {
      grid-template-columns: 48px auto;
      grid-template-rows: 100px auto;
      grid-template-areas: " . colorblock" "image image" ". caption ";
      padding-left: 5vw;
    }
    @include breakpoint("large") {
      grid-template-columns: 72px auto;
      padding-left: 40px;
    }

    &::before {
      content: "";
      display: block;
      grid-area: colorblock;
      background-color: var(--post-color);
      grid-row-start: 1;
      grid-row-end: span 3;
      z-index: 0;
      transform-origin: top;
      @include animation("grow 1s forwards");

      @include breakpoint("medium") {
        background-color: var(--post-color);
        grid-row-start: 1;
        grid-row-end: span 3;
      }
    }

    @include keyframes(grow) {
      from {
        transform: scaleY(0);
      }
      to {
        transform: scaleY(100%);
      }
    }
    @include keyframes(line) {
      from {
        width: 0px;
      }
      to {
        width: 180px;
      }
    }

    .post__image {
      -webkit-box-shadow: 3px -1px 9px -1px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 3px -1px 9px -1px rgba(0, 0, 0, 0.4);
      box-shadow: 3px -1px 9px -1px rgba(0, 0, 0, 0.4);
      display: absolute;
      width: 100%;
    }

    .post__image-wrapper {
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 2;
      grid-row-end: span 1;
      align-self: end;
      z-index: 2;

      @include breakpoint("small") {
        margin-bottom: 40px;
      }
      @include breakpoint("medium") {
        margin-bottom: 0px;
        padding-right: 2vw;
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: span 1;
        width: calc(100% - 5vw);
        max-width: $post__content-width;
      }
      @include breakpoint("large") {
        padding-right: 5vw;
      }

      @include breakpoint("xlarge") {
        margin-bottom: 0;
      }
    }
  }
  .entry-header__caption {
    z-index: 2;
    padding: 12px 20px 24px 20px;
    figcaption {
      max-width: 300px;
      color: white !important;
      opacity: 80%;
      @include breakpoint("small") {
        color: $color__text-gray2 !important;
        opacity: unset;
      }
    }
    @include breakpoint("medium") {
      padding: 12px 0;
      margin: 0;
      width: 100%;
      align-self: stretch;
      margin-left: 1vw;
      width: calc(100% - 5vw);
      figcaption {
        color: white !important;
        opacity: 80%;
        padding-left: 20px;
        padding-bottom: 40px;
      }
    }
  }
  .entry-header__text {
    padding: 40px 20px 0px;
    @include breakpoint("small") {
      padding-left: 5vw;
      padding-right: 16px;
      width: auto;
      max-width: $post__content-width;
      justify-self: end;
      align-self: center;
    }
    @include breakpoint("medium") {
      grid-row-start: 1;
      grid-row-end: span 3;
    }
  }

  .entry-title::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    margin-top: 0.5rem;
    border-top: 3px solid var(--post-color);
    opacity: 50%;
    @include animation("line 1s .5s forwards");
  }
}

//
//
//Cut Out
//
.cut-out {
  display: grid;
  grid-template-rows: 300px 32px auto auto;
  grid-template-columns: auto 20px;
  grid-template-areas: "imagearea ." ". ." "textarea ." "caption .";

  @include breakpoint("small") {
    grid-template-columns: 90% auto;
    grid-template-rows: 400px 40px auto auto;
  }
  @include breakpoint("medium") {
    grid-template-columns: 80% auto;
    grid-template-rows: 60vh 80px auto auto;
    grid-template-areas: "imagearea . ." ". . ." "textarea . caption";
  }
  @include breakpoint("large") {
    grid-template-columns: 800px auto;
    grid-template-rows: 60vh 80px auto auto;
  }

  .entry-header__text {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .entry-title,
  .post__intro,
  .post__date {
    align-self: stretch;
    padding-left: 20px;
    padding-right: 20px;
    @include breakpoint("small") {
      padding-left: 7vw;
      padding-right: 7vw;
    }
    @include breakpoint("medium") {
      padding-left: 10vw;
      padding-right: 10vw;
    }
    @include breakpoint("large") {
      padding-left: 72px;
      padding-right: 72px;
    }
  }
  .post__authors,
  .entry-header__caption {
    margin: 0px 20px 12px;
    @include breakpoint("small") {
      margin: 0px 7vw 12px;
      width: 80%;
    }
    @include breakpoint("medium") {
      margin: 0px 10vw 12px;
      width: 70%;
    }
    @include breakpoint("large") {
      margin: 0px 72px 12px;
      max-width: 800px;
    }
  }
  .entry-title,
  .post__intro,
  .post__date {
    background-color: white;
    background-color: var(--post-color);
    color: var(--post-text);
  }

  .post__date {
    padding-bottom: 0.25rem;
    padding-top: 2rem;
  }

  .entry-title {
    margin-bottom: 0;
    padding-bottom: 12px;
    padding-top: 0;
    margin-top: 0;
  }

  .post__intro {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2rem;
  }
  .entry-header__caption {
    @include breakpoint("medium") {
      margin: 0 !important;
      margin-top: 12px !important;
      padding-left: 24px;
    }
  }
  .post__authors {
    padding-top: 24px;
    margin-bottom: 12px;
    border-top: 1px solid var(--post-border);
  }
  .post__intro {
    @include breakpoint("large") {
      padding-right: 200px;
      width: auto;
    }
  }

  .post__authors {
    @include breakpoint("medium") {
      margin-right: 200px;
      width: auto;
    }
  }

  .entry-header__image {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-end: span 2;
    grid-row-start: 1;
    z-index: 0;
  }
  .entry-header__text {
    grid-row-end: span 2;
    grid-row-start: 2;
    //background-color: var(--post-color);
    z-index: 1;
  }
}
@import "headers/linebg";
@import "headers/zoom";
@import "headers/halfpage";
