//Common
.entry-header {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
  margin-bottom: 3rem;
  @include breakpoint("small") {
    margin-bottom: 4rem;
  }
  @include breakpoint("medium") {
    margin-bottom: 4rem;
  }
}

.entry-header {
  //background-color: var(--post-color);
}

.post__authors,
.post__date {
  font-family: $font__sans;
  line-height: $font__line-height-caption;
  color: $color__text-gray3;
}

.post .entry-title {
  margin-top: 0.5rem;
  font-size: $font__size-posttitle_mobile;
  line-height: $font__line-height-posttitle_mobile;
  @include breakpoint("medium") {
    font-size: $font__size-posttitle;
    line-height: $font__line-height-posttitle;
  }
}

.entry-header__image {
  background-position: center center;
  background-size: cover;
  grid-area: imagearea;
}

.entry-header__text {
  position: relative;
  grid-area: textarea;
}

.post__date {
  grid-area: date;
  font-size: $font__size-small;
}

.entry-title {
  grid-area: title;
}

.post__intro {
  grid-area: intro;
}

.post__image {
  grid-area: image;
}

.post__authors {
  grid-area: authors;
}

.entry-header__caption {
  grid-area: caption;
}

//Color block
.color-block {
  display: grid;

  grid-template-columns: 100% 100%;
  grid-template-rows: auto auto;
  grid-template-areas: "imagearea" "textarea";
  @include breakpoint("medium") {
    grid-template-columns: 40% 60%;
    grid-template-areas: "textarea imagearea";
  }
  @include breakpoint("large") {
    grid-template-columns: 50% 50%;
  }

  &.entry-header {
    margin-bottom: 0px !important;
    @include breakpoint("medium") {
      margin-bottom: 3rem;
    }
  }
  .entry-header__image {
    position: relative;
    display: grid;
    grid-template-columns: auto 24px;
    grid-template-rows: 72px auto auto;
    grid-template-areas: "colorblock ." "image image" "caption .";
    line-height: 0;
    grid-row-start: 1;
    grid-row-end: span 1;
    @include breakpoint("small") {
      grid-template-columns: 1fr 48px 30%;
      grid-template-rows: 72px auto;
      grid-template-areas: "colorblock . ." "image image caption";
    }
    @include breakpoint("medium") {
      grid-template-columns: 48px auto;
      grid-template-rows: 100px auto;
      grid-template-areas: " . colorblock" "image image" ". caption ";
      padding-left: 5vw;
    }
    @include breakpoint("large") {
      grid-template-columns: 72px auto;
      padding-left: 40px;
    }

    &::before {
      content: "";
      display: block;
      grid-area: colorblock;
      background-color: var(--post-color);
      grid-row-start: 1;
      grid-row-end: span 3;
      z-index: 0;
      transform-origin: top;
      @include animation("grow 1s forwards");

      @include breakpoint("medium") {
        background-color: var(--post-color);
        grid-row-start: 1;
        grid-row-end: span 3;
      }
    }

    @include keyframes(grow) {
      from {
        transform: scaleY(0);
      }
      to {
        transform: scaleY(100%);
      }
    }
    @include keyframes(line) {
      from {
        width: 0px;
      }
      to {
        width: 180px;
      }
    }

    .post__image {
      -webkit-box-shadow: 3px -1px 9px -1px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 3px -1px 9px -1px rgba(0, 0, 0, 0.4);
      box-shadow: 3px -1px 9px -1px rgba(0, 0, 0, 0.4);
      display: absolute;
    }

    .post__image-wrapper {
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 2;
      grid-row-end: span 1;
      align-self: end;
      z-index: 2;

      @include breakpoint("small") {
        margin-bottom: 40px;
      }
      @include breakpoint("medium") {
        margin-bottom: 0px;
        padding-right: 2vw;
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: span 1;
        width: calc(100% - 5vw);
        max-width: $post__content-width;
      }
      @include breakpoint("large") {
        padding-right: 5vw;
      }

      @include breakpoint("xlarge") {
        margin-bottom: 0;
      }
    }
  }
  .entry-header__caption {
    z-index: 2;
    padding: 0 20px 24px 20px;
    figcaption {
      max-width: 300px;
      color: white !important;
      opacity: 80%;
      @include breakpoint("small") {
        color: $color__text-gray2 !important;
        opacity: unset;
      }
    }
    @include breakpoint("medium") {
      padding: 0;
      margin: 0;
      width: 100%;
      align-self: stretch;
      margin-left: 1vw;
      width: calc(100% - 5vw);
      figcaption {
        color: white !important;
        opacity: 80%;
        padding-left: 20px;
        padding-bottom: 40px;
      }
    }
  }
  .entry-header__text {
    padding: 40px 20px 0px;
    @include breakpoint("small") {
      padding-left: 5vw;
      padding-right: 16px;
      width: auto;
      max-width: $post__content-width;
      justify-self: end;
      align-self: center;
    }
    @include breakpoint("medium") {
      grid-row-start: 1;
      grid-row-end: span 3;
    }
  }

  .entry-title::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    margin-top: 0.5rem;
    border-top: 3px solid var(--post-color);
    opacity: 50%;
    @include animation("line 1s .5s forwards");
  }
}

//
//
//Dark background Images
//
//
.background-img {
  max-width: 1400;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "textarea" "caption";

  &::before {
    display: block;
    z-index: 2;
    content: "";
    top: 0;
    left: 0;
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0;
    @include animation("appear 2s 1.5s forwards");
    background: -moz-radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 8%,
      rgba(0, 0, 0, 0.7) 99%
    );
    background: -webkit-radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 8%,
      rgba(0, 0, 0, 0.7) 99%
    );
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 8%,
      rgba(0, 0, 0, 0.7) 99%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  }

  @include keyframes(appear) {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .entry-header__text {
    padding: 30vh 20px 0px 20px;
    align-self: stretch;
    display: grid;
    grid-template-rows: 20vh auto auto auto auto auto;
    grid-template-areas: "." "date" "title" "intro" "authors";
    align-items: end;
    background-position: center center;
    background-size: cover;

    @include breakpoint("medium") {
      grid-template-columns: 3px 80% 20%;
      grid-template-areas: "border . ." "border date ." "border title ." "border intro ." "border authors .";
      justify-content: center;
    }
    @include breakpoint("large") {
      grid-template-columns: 3px 700px 400px;
    }
  }

  .entry-header__text::after {
    display: block;
    content: "";
    border-left: 2px solid #d3d3d3;
    grid-area: border;
    width: 3px;
    z-index: 2;
    grid-column-start: 1;
    grid-row-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 6;
    height: 0px;

    @include animation("bordergrow 2s 1s forwards");
    transform-origin: top;
  }

  @include keyframes(bordergrow) {
    from {
      height: 0%;
    }
    to {
      height: 100%;
    }
  }

  .entry-header__text div,
  .entry-header__text h1,
  .entry-header__text p {
    opacity: 0;
    @include animation("textblur 2s 2s forwards");
  }
  @include keyframes(textblur) {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .entry-header__caption {
    padding: 0 20px 0px 20px;
    align-self: stretch;
    display: grid;
    grid-template-areas: "capborder figcaption";

    @include breakpoint("medium") {
      grid-template-columns: 3px 80% 20%;
      grid-template-areas: "capborder figcaption .";
      justify-content: center;
    }
    @include breakpoint("large") {
      grid-template-columns: 3px 700px 400px;
    }

    &::after {
      display: block;
      content: "";
      border-left: 2px solid #ccc;
      grid-area: capborder;
      width: 3px;
      z-index: 2;
      //height: 0px;
    }
    figcaption {
      max-width: $post__content-width;
      //margin-bottom: 4rem;
      margin-top: 8px !important;
      grid-area: figcaption;
      padding-left: 20px;
    }
  }

  .entry-title {
    margin-bottom: 0;
    font-family: $font__sans;
    font-weight: bold;
    @include breakpoint("medium") {
      @include font-size(50px);
      line-height: 1.1;
    }
    @include breakpoint("large") {
      @include font-size(58px);
    }
    @include breakpoint("xlarge") {
      @include font-size(62px);
    }
  }

  .entry-title,
  .post__intro,
  .post__authors,
  .post__date {
    z-index: 3;
    padding-left: 20px;
    color: white !important;
  }

  .post__intro {
    padding-top: 20px;
    padding-bottom: 8px;
  }

  .post__date,
  .post__authors {
    opacity: 0.8;
  }

  .post__authors {
    padding-bottom: 2rem;
  }
}
//
//
//Half Page
//
.half-page {
  display: grid;
  grid-template-rows: auto 300px auto;
  grid-template-columns: 100%;
  grid-template-areas: "textarea" "imagearea" "caption";

  @include breakpoint("medium") {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "textarea imagearea" "textarea caption";
    height: calc(90vh - 64px);
    min-height: $post__content-width;
  }

  .entry-header__image {
    @include breakpoint("medium") {
      grid-column-start: 2;
      grid-row-end: span 2;
      grid-row-start: 1;
      grid-column-end: 2;
    }

    .post__image {
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  }

  .entry-header__text {
    text-align: center;
    padding: 0 20px;
    display: grid;
    grid-template-rows: 100px auto auto auto auto 100px;
    grid-template-columns: auto;
    grid-template-areas: "halftop" "date" "title" "intro" "authors" "halfbottom";
    @include breakpoint("small") {
      padding: 0 7vw;
    }
    @include breakpoint("medium") {
      grid-template-rows: 1fr auto auto auto auto 1fr;
      align-items: center;
    }
  }
  .entry-header__text::after {
    grid-area: halfbottom;
  }
  .entry-header__text::before {
    grid-area: halftop;
  }
  .entry-header__text::before,
  .entry-header__text::after {
    display: block;
    content: "";
    width: 50%;
    height: 80px;
    border-right: 2px solid #d8d8d8;
    left: 0;
    top: 0;
    margin: 2rem 0;
    align-self: center;
    @include breakpoint("medium") {
      height: 100%;
    }
  }

  .post__date {
    @include breakpoint("medium") {
      padding-top: 24px;
    }
  }

  .entry-title {
    margin-bottom: 0px;
  }

  .entry-title::after {
    display: block;
    content: "";
    width: 120px;
    height: 2px;
    border-bottom: 2px solid #d8d8d8;
    opacity: 0.5;
    margin: 12px auto 0;
  }

  .post__intro {
    margin-bottom: 12px;
    margin-top: 1rem;
  }
  .entry-header__caption {
    padding: 0 20px 2rem;
    @include breakpoint("medium") {
      width: 80%;
      max-width: 400px;
      justify-self: end;
      opacity: 80% !important;
      align-self: end;
    }

    figcaption {
      @include breakpoint("medium") {
        text-align: right !important;
        color: white !important;
        opacity: 0.8 !important;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
      }
    }
  }
}
//
//
//Cut Out
//
.cut-out {
  display: grid;
  grid-template-rows: 300px 32px auto auto;
  grid-template-columns: auto 20px;
  grid-template-areas: "imagearea ." ". ." "textarea ." "caption .";
  @include breakpoint("small") {
    grid-template-columns: 90% auto;
    grid-template-rows: 400px 40px auto auto;
  }
  @include breakpoint("medium") {
    grid-template-columns: 80% auto;
    grid-template-rows: 60vh 80px auto auto;
  }
  @include breakpoint("large") {
    grid-template-columns: 800px auto;
    grid-template-rows: 60vh 80px auto auto;
  }

  .entry-title,
  .post__intro,
  .post__date {
    align-self: stretch;
    padding-left: 20px;
    padding-right: 20px;
    @include breakpoint("small") {
      padding-left: 7vw;
      padding-right: 7vw;
    }
    @include breakpoint("medium") {
      padding-left: 10vw;
      padding-right: 10vw;
    }
    @include breakpoint("large") {
      padding-left: 72px;
      padding-right: 72px;
    }
  }
  .post__authors,
  .entry-header__caption {
    margin: 0px 20px 12px;
    @include breakpoint("small") {
      margin: 0px 7vw 12px;
      width: 80%;
    }
    @include breakpoint("medium") {
      margin: 0px 10vw 12px;
      width: 70%;
    }
    @include breakpoint("large") {
      margin: 0px 72px 12px;
      max-width: 800px;
    }
  }
  .entry-title,
  .post__intro,
  .post__date {
    background-color: white;
    background-color: var(--post-color);
    color: var(--post-text);
  }

  .post__date {
    padding-bottom: 0.25rem;
    padding-top: 2rem;
  }

  .entry-title {
    margin-bottom: 0;
    padding-bottom: 12px;
    padding-top: 0;
    margin-top: 0;
  }

  .post__intro {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2rem;
  }
  .entry-header__caption {
    margin-top: 0;
  }
  .post__authors {
    padding-top: 24px;
    margin-bottom: 12px;
    border-top: 1px solid var(--post-border);
  }
  .post__intro {
    @include breakpoint("large") {
      padding-right: 200px;
      width: auto;
    }
  }

  .post__authors,
  .entry-header__caption {
    @include breakpoint("large") {
      margin-right: 200px;
      width: auto;
    }
  }

  .entry-header__image {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-end: span 2;
    grid-row-start: 1;
    z-index: 0;
  }
  .entry-header__text {
    grid-row-end: span 2;
    grid-row-start: 2;
    //background-color: var(--post-color);
    z-index: 1;
  }
}

#sharefont {
  display: block;
  width: 100%;

  margin-bottom: 3rem;
}
#sharefont .sharefont-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $color__hr;
  padding-bottom: 0.6rem;
  #font-size,
  #header-share {
    width: 100%;
    display: flex;
  }
  #header-share {
    align-items: flex-end;
  }
  #font-size {
    justify-content: flex-end;

    > div {
      padding: 0.5rem;

      align-self: center;
      @include font-size(1.3em);
      > span {
        @include font-size(80%);
      }
    }

    button#font-increment,
    button#font-decrement {
      padding: 8px;
      min-height: 40px;
      min-width: 40px;
      background-color: #f2f2f2;
      border: none;

      @include font-size(100%);
      @include breakpoint("large") {
        min-height: 32px;
        min-width: 32px;
      }

      &:disabled {
        opacity: 0.4;
      }
    }

    button#font-increment {
    }
    button#font-decrement {
    }
  }
}
