/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.profile__container {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint("small") {
    width: 100%;
    display: block;
  }
  .component__imgcircle {
    padding-right: 1rem;
    img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
    }

    @include breakpoint("medium") {
      padding-right: unset;
    }
  }

}

.wp-block-jourblocks-profile.is-style-profile-large {
  .component__imgcircle {
    border-radius: 0;
    width: 100%;
    img {
      border-radius: unset;
      width: 100%;
      max-width: 175px;
      height: auto;
      max-height: 275px;
    }
  }
}
