/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.profile__container {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint("small") {
    width: 100%;
    display: block;
  }
  .component__imgcircle {
    padding-right: 1rem;
    img {
      max-width: 75px;
      max-height: 75px;
      border-radius: 50%;
    }

    @include breakpoint("medium") {
      padding-right: unset;
    }
  }

  &.is-style-profile-large {
    .component__imgcircle {
      border-radius: unset;
      width: 50%;
      img {
        border-radius: unset;
        width: 100%;
        max-width: 200px;
        height: auto;
        max-height: 300px;
      }
    }
  }
}
