figure,
.wp-block-pullquote,
blockquote,
figcaption,
.wp-block-image,
.single-post figcaption p,
.single-post blockquote p,
.wp-block-audio,
.wp-block-embed figcaption {
  margin: 0;
  padding: 0;
  text-align: left;
  width: auto;

  &.alignright,
  &.alignleft,
  &.alignwide,
  &.alignfull,
  &.aligncenter {
    padding: 0;
    margin: 0;
    max-width: unset;
  }
}

.wp-block-image,
.wp-block-video {
  .alignright,
  figcaption {
    padding: 0;
    margin: 0;
  }
}

.component__imgcircle {
  max-width: 100%;
}
