/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.text-overlay {
}

.text-overlay__text.text-align__right {
  left: 50%;
}

.text-overlay__container {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  width: $block-full;
}

.text-overlay__text {
  position: relative;
  display: block;
  height: 100%;
  width: 50%;
}

.text-overlay__content {
  position: relative;
}

.text-overlay__overlay {
  display: block;
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  opacity: 0.5;
}

@for $i from 1 through 10 {
  .text-overlay__overlay.has-background-dim-#{ $i * 10 } {
    opacity: $i * 0.1;
  }
}

.text-color__light .text-overlay__content {
  p,
  h2,
  h3,
  h4,
  h5 {
    color: black;
  }
}

.text-color__light .text-overlay__content {
  p,
  h2,
  h3,
  h4,
  h5 {
    color: white !important;
  }

  a {
    color: white;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    }
  }
}

.text-overlay__content {
  margin: 20px;
  padding: 432px 0 32px;
  @include breakpoint("small") {
    margin: 24px;
    padding: 3rem 0 3rem;
  }
  @include breakpoint("medium") {
    margin: 2.5rem;
  }
  @include breakpoint("large") {
    margin: 3.5rem;
  }
}

.text-overlay__overlay {
  margin-top: 400px;
  height: calc(100% - 400px);
  @include breakpoint("small") {
    margin-top: 0;
    height: 100%;
  }
}
.text-overlay__text {
  width: 100%;

  @include breakpoint("medium") {
    width: 40%;
  }
  @include breakpoint("large") {
    width: 500px;
  }
}

.wp-block-jourblocks-text-overlay {
  margin-bottom: 2rem;
}

.text-overlay__text.text-align__right {
  left: 0;
  @include breakpoint("medium") {
    left: calc(60%);
  }
  @include breakpoint("large") {
    left: calc(100% - 500px);
  }
}
