.text-color__light .text-overlay__content {
  p,
  h2,
  h3,
  h4,
  h5 {
    color: black;
  }
}

.text-color__light .text-overlay__content {
  p,
  h2,
  h3,
  h4,
  h5 {
    color: white;
  }

  a {
    color: white;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    }
  }
}

.text-overlay__content {
  margin: 20px;
  padding: 432px 0 32px;
  @include breakpoint("small") {
    margin: 24px;
    padding: 3rem 0 3rem;
  }
  @include breakpoint("large") {
    margin: 2.5rem;
  }
}

.text-overlay__overlay {
  margin-top: 400px;
  height: calc(100% - 400px);
  @include breakpoint("small") {
    margin-top: 0;
    height: 100%;
  }
}
.text-overlay__text {
  width: 100%;

  @include breakpoint("medium") {
    width: 40%;
  }
  @include breakpoint("large") {
    width: 500px;
  }
}

.wp-block-jourblocks-text-overlay {
  margin-bottom: 2rem;
}

.text-overlay__text.text-align__right {
  left: 0;
  @include breakpoint("medium") {
    left: calc(60%);
  }
  @include breakpoint("large") {
    left: calc(100% - 500px);
  }
}

.wp-block-jourblocks-text-overlay figcaption,
.wp-block-video figcaption {
  padding: 0 20px 12px;
  @include breakpoint("medium") {
    padding: 0 7vw 1rem;
  }
  @include breakpoint("large") {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
  }
}
