/*=============================
=            Media            =
=============================*/

.img-container {
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &.fit-height {
        img {
            max-width: unset;
            position: absolute;
            left: 50%;
            top: 50%;
            height: 110%;
            width: auto;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    &.fit-width {
        img {
            max-width: unset;
            position: absolute;
            left: 50%;
            top: 50%;
            height: auto;
            width: 110%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}

.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed, iframe, object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */

.custom-logo-link {
    display: inline-block;
}

.theme-gallery {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    margin-bottom: 1rem;
    .photo-entry {
        display: flex;
        height: 10rem;
        width: 10rem;
        padding: 15px;
    }
    .gallery-photo {
        display: flex;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100%;
            width: 100%;
            min-height: 10rem;
            min-width: 10rem;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    .photo-details {
        display: none;
    }
}