* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
.body-text {
  font-family: $font__main;
  font-size: $font__size-body_mobile;
  line-height: $font__line-height-body_mobile;
  margin-bottom: 1em;
  margin-top: 0;
  color: $color__text-main;
  max-width: 750px;

  @include breakpoint("large") {
    font-size: $font__size-body;
    line-height: $font__line-height-body;
  }
}

.single-post {
  p {
    font-size: $font__size-post_mobile;
    line-height: $font__line-height-post_mobile;
    font-family: $font__main;
    margin-bottom: 20px;
    color: #444;

    @include breakpoint("large") {
      font-size: $font__size-post;
      line-height: $font__line-height-post;
      margin-bottom: 24px;
    }
  }
  .author__bio p {
    @extend .body-text;
  }
}

.component__caption,
figcaption,
cite,
.wp-block-image figcaption,
.home-testimonials__info,
.single-post figcaption p {
  display: block !important;
  font-family: $font__sans;
  font-size: $font__size-caption !important;
  line-height: $font__line-height-caption !important;
  text-align: left !important;
  color: $color__text-caption;
  margin-top: 0.5rem !important;
  padding-bottom: 12px;

  //border-bottom: 1px solid rgba(162, 173, 175, 0.25);
  .caption__source {
    color: $color__text-source;
  }
}

.wp-block-image figcaption {
  max-width: 1150px;
  margin: 0 auto;
}

.large-text {
  font-size: $font__size-large_mobile;
  line-height: $font__line-height-large_mobile;
  color: $color__text-main;
  @include breakpoint("large") {
    font-size: $font__size-large;
    line-height: $font__line-height-large_mobile;
  }
}

.tiny-text {
  font-family: $font__sans;
  font-size: $font__size-small;
  line-height: 1.2;
  color: $color__text-caption;
}

.component__title {
  font-family: $font__sans;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

.small-title {
  font-family: $font__sans;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 4px;
}

.meta {
  font-family: $font__sans;
  font-size: $font__size-caption;
  line-height: $font__line-height-caption;
  opacity: 0.6;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

.wp-block-pullquote blockquote p {
  font-family: $font__magneta;
  font-size: 24px;
  line-height: 1.3;
  margin: 0 1.5em;
  width: 100%;
  max-width: 100% !important;
  @include breakpoint("large") {
    font-size: 26px;
  }
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  @include font-size(0.9375);
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: $font__code;
  @include font-size(0.9375);
}

abbr,
acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

big {
  font-size: 125%;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1);
  line-height: $font__line-height-body;
}

//Lists
ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

//links

p a {
  color: #222;
  box-shadow: 0 1px 0 rgba(0, 0, 13, 0.4);
  text-decoration: none;
  transition: color 0.2s, box-shadow 0.2s, border-color 0.2s;

  &:visited {
    color: #666666;
  }
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 1px 0 rgba(0, 0, 13, 1);
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}
