.addtoany_list {
	line-height: inherit !important;
margin-left: .25rem;
	a {
		margin-right: 0.75rem;
		@include breakpoint("medium") {
margin-right: 0.25rem;

		}
	}

	.a2a_svg {
		background-color: transparent !important;

		&:before {
			font-family: 'mj';
			
			line-height: 1;
			display: inline-block;
			vertical-align: middle;
			@include breakpoint("medium") {
		   	line-height: $size__header-height-mobile !important;
		   
		   }
		}

		/* Facebook */
		&.a2a_s_facebook:before {
			content: "\F231";
		}

		/* Twitter */
		&.a2a_s_twitter:before {
			content: "\F243";
		}

		/* LinkedIn */
		&.a2a_s_linkedin:before {
			content: "\F0E1";
		}

		

		/* Print */
		&.a2a_s_print:before, 
		&.a2a_s_printfriendly:before {
			content: "\F3A5";
		}

		/* Email */
		&.a2a_s_email:before {
			content: "\E801";
		}

		/* Copy Link */
		&.a2a_s_link:before {
			content: "\e805";
		}

		svg {display: none;}
	}

	& a>span {
		width: inherit !important;
		height: inherit !important;
			   		

		display: inline-flex;
		vertical-align: middle;
		font-size: 3rem;
		color: $color-medgray;

		&:hover {
			color: white;
		}
		   @include breakpoint("medium") {
		   	color: $color-medbluegray;
		   	font-size: 1.3rem;

		   		&:hover {
		   		color: $color-dkbluegreen;
		   	}
		   }
	}

	/* Divider between Email & Social */
	.a2a_button_email {
		
		&:before {

		}
	}
}
