.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;

  // Loops to enumerate the classes for gallery columns.
  @for $i from 2 through 9 {
    .gallery-columns-#{$i} & {
      max-width: map-get($columns, $i);
    }
  }
}

.gallery-caption {
  display: block;
}

ul.wp-block-gallery {
  margin: 0;
}

.wp-block-gallery .blocks-gallery-image figure,
.wp-block-gallery .blocks-gallery-item figure {
  height: 200px;
}
