/*=============================
=            Archives         =
=============================*/

.archive-description {
    margin-bottom: 3rem;
}

.entry-meta.stories {
    border-bottom: 1px solid $color-medgray;
    margin-top: .5rem;
}

.entry-meta {
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    margin-right: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    p {
        line-height: 1.4;
        font-size: 1rem;
        margin-bottom: 0;
    }
    @include breakpoint("medium") {
        margin-bottom: 1rem;
        margin-right: 0rem;
        margin-top: 0rem;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.meta-inline {
    display: inline-block;
    line-height: 1.5;
}

.theme-content {
    @include breakpoint("medium") {
        padding-right: 2rem !important;
    }
    @include breakpoint("large") {
        padding-right: 3rem !important;
    }
}

.home-related .entry-meta {
    border-bottom: 0px;
    margin: 0;
}

.entry-meta-top {
    padding: .5rem 0;
    border-bottom: 1px solid $color-medgray;
    display: flex;
    clear: both;
    width: 100%;
    position: relative;
    div {
        display: block;
        float: left;
        span {
            margin-right: .5rem;
        }
    }
    &:first-of-type {
        border-top: 2px solid $color-dkblue;
        @include breakpoint("medium") {
            border-top: 0px;
            padding-top: 0;
        }
    }
}

.entry-meta-bottom {
    padding: .5rem 0;
    border-bottom: 2px solid $color-dkblue;
    margin-bottom: 1rem;
    display: flex;
    clear: both;
    width: 100%;
    position: relative;
    div {
        display: block;
        float: left;
    }
}

.substance-partners {
    margin: 0 0 3rem;
}

.entry-content-container {
    @include breakpoint("medium") {
        padding: 0 0 0 4rem;
    }
    @include breakpoint("large") {
        padding: 0 4rem;
    }
    .entry-content {
        @include breakpoint("medium") {
            padding: 0 2rem;
            margin-top: 1rem;
            border-left: 2px solid $color-medgray;
        }
    }
}

.archive-entry .entry-title {
    span {
        color: $color-blue;
    }
}

.archive-entry {
    padding-bottom: 6rem;
}

.post-entry {
    padding: 0 .5rem;
    margin-bottom: 6rem;
    .meta-line {
        padding: 0;
        margin: 0;
    }
    .entry-info {
        position: relative;
    }
    .entry-info .entry-title {
        border-bottom: 3px solid $color-blue;
        line-height: 2rem;
        @include breakpoint("medium") {}
    }
    .entry-title, .entry-meta, .entry-excerpt {
        @include breakpoint("medium") {
            padding-right: 2rem;
        }
    }
    .entry-title {
        display: relative;
        &:after {
            @include breakpoint("medium") {
                display: block;
                content: "";
                position: absolute;
                border-bottom: 3px solid $color-ltbluegray;
                width: 5rem;
                height: calc(2rem + 3px);
                right: -5rem;
                top: 0;
                z-index: 1;
            }
        }
    }
    img {
        @include transition(width .3s ease-in-out);
    }
    .img-container {
        width: 100%;
        height: 15rem;
        @include breakpoint("medium") {
            height: 15rem;
        }
    }
    .img-container:hover img {
        width: 120%;
        height: auto;
        @include transition(width .3s ease-in-out);
    }
}