/*=============================
=            Homepage         =
=============================*/

.home header {
    @include breakpoint("medium") {
        display: none;
    }
}

#home-header {
    position: relative;
    display: block;
    width: 100%;
    height: 73vh;
    @include breakpoint("medium") {
         height: 100%;
        min-height: 700px;
    }
}


#title-header {
    display: flex;
}

#vid-block {
    display: block;
    position: absolute;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    @include breakpoint("medium") {
    height: 100%;
        }
}

#bgvid {
        max-height: 70vh;
        @include breakpoint("medium") {
max-height: unset;
        }
    }

#videobg {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;

    @include breakpoint("medium") {
        height: 100%;
    }

    video {
        position: absolute;
        height: 100%;
        right: 0;
        
    }
    
    &:after {
        position: absolute;
        background-color: $color-dkblue;
        opacity: .5;
        display: block;
        content: ' ';
        height: 100%;

        min-height: 700px;
        width: 100%;
    }
}

#vid-overlay {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    min-height: 700px;
}


#title-header {
    display: flex;
    justify-content: flex-end;
}

.button-container {
    padding: 5px;
    line-height: 1rem;
    position: relative;
    margin: 5px 1rem;
    color: white;
    float: right;
    width: 3rem;
    height: 3rem;
    
}

#home-pause {
    margin: 0 auto;
    display: block;
    position: relative;
    width: 2rem;
    height: 2rem;

    font-size: 2.2rem;
    margin-right: 1rem;
}

#home-intro {
    display: block;
    margin: 0 auto;
    z-index: 4;
    max-height: 70vh;
    min-height: 700px;
    width: 100%;
    position: absolute;
    bottom: 0;

    #homepage-title {
        display: block;
        margin: 0 1rem -1rem; //width: 100%;
        @include breakpoint("medium") {}
    }

    .home-tagline {
        display: flex;
        background-color: white;
        font-family: $font__roboto;
        padding: .75rem 6% 0;
        margin: 0 1rem;
        position: relative;
        @include breakpoint("medium") {
            padding: 0 5%;
            margin: 0 1rem;
            width: calc(100% - 2rem);
        }
        .site-description {
            font-size: 1.2rem;
            color: $color-medbluegray;
            line-height: 1.3;
            @include breakpoint("medium") {
                font-size: 1.5rem;
            }
        }
        &:after {
            content: ' ';
            display: flex;
            width: 100%;
            max-width: calc(1200px - 2rem);
            height: 1rem;
            background-color: white;
            position: absolute;
            top: 100%;
            left: 0;

            @include breakpoint("medium") {
                margin: 0 auto;
                  height: 3rem;
            }
        }
    }
}


#home-aboutProgram {
    display: block;
    background-color: $color-ltgray;
    padding: 3rem 0 0rem;
    @include breakpoint("medium") {
padding: 8rem 0 0rem;
    }

    .aboutBox {
        border-left: 2px solid $color-medgray;
        display: block;
        padding-bottom: 2rem;
        padding-left: .5rem;

        @include breakpoint("medium") {
            padding-left: 3rem;
            padding-right: 3rem;
            padding-bottom: 4rem;

            .col-xs-12 {
                padding: 0;
            }
        }
        div {
            @include breakpoint("medium") {
                column-count: 2;
            }
        }
    }
    .vertical-right {
        @include breakpoint("medium") {
            display: none;
        }
        @include breakpoint("large") {
            display: block;
        }
    }
}


#home-aboutCSIS {
    display: flex;
    background-color: $color-dkblue;
    color: white;
    align-items: center;
    position: relative;

    .aboutCsis {
        display: flex;
        padding: 2rem 0 2rem 1rem;
        border-left: 2px solid $color-dkbluegreen;

        @include breakpoint("medium") {
            padding: 2rem 3rem;
            &:before {
                border-left: 2px solid $color-medgray;
                display: block;
                content: "";
                height: 2rem;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -2rem;
                padding: 0rem 3rem;
            }
        }



        p {
            margin-bottom: 2rem;
        }
    }
    .full-col {
        display: block;
        width: 100%;
        height: 15rem;
    }
    .csis-photo {
        display: flex;
        justify-content: flex-end;
        width: calc(100% + 3rem);
        margin-right: 4rem;
        margin-left: -2rem;
        height: calc(100% + 2rem);

        @include breakpoint("medium") {
            margin-right: unset;
            margin-left: unset;
            width: unset;
            margin-top: -4rem;
            margin-bottom: 4rem;
            height: calc(100% + 9rem);
        }

        img {
            display: flex;
            float: left;
            @include breakpoint("medium") {

                left: 50%;
                top: 50%;
                height: 100%;
                width: auto;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
}

#home-topics {
    padding: 2rem 0 3rem;
    @include breakpoint("medium") {
        padding: 6rem 0 9rem;
        margin-top: 3rem;
    }
}


#home-reports {
    color: white;
    @include breakpoint("medium") {
        margin-bottom: -4rem;
    }

    &.content-wrapper {
        padding: 0;
    }
    .blueblock {
        background-color: $color-dkblue;
        position: relative;
        @include breakpoint("medium") {
            margin: 0;
        }
    }
    .browseReports {
        padding: 2rem;
        h4 {
            line-height: 1;
        }
        p {
            font-family: $font__roboto;
            color: $color-medgray;
            margin-bottom: 0;
        }
    }
    .vertical-left {
        @include breakpoint("medium") {
            display: none;
        }
        @include breakpoint("large") {
            display: block;
            left: 3rem;
        }
    }
}