/*=============================
=            Posts            =
=============================*/

.pdf-icon {
    display: flex;
    font-size: 2.7rem;
    a {
        color: $color-dkblue;
        &:hover {
            color: $color-blue;
        }
    }
}

.pdf-info {
    display: flex;
    align-items: flex-end;
    font-family: $font__roboto;
    p {
        line-height: 1.3;
    }
    a {
        text-decoration: none;
        font-family: $font__roboto;
        font-size: 1.2rem;
        color: black;
        line-height: 1;

        &:hover {
            color: $color-blue;
        }
    }
}



//Boxed Post
#block-header,
#full-header {
    margin-bottom: 3rem;

    .post-title {
        font-weight: 200;
        line-height: 1.3;
        font-family: $font__magneta;
    }
}

#block-header {

    .boxed-header-right {
        height: 40vh;
    }

    .boxed-header-left,
    .boxed-header-right {

        @include breakpoint("medium") {
            height: 90vh;
            max-height: 700px;
        }
    }



    .boxed-header-left {


        .post-meta {
            display: flex;
            flex-direction: column;
            justify-content: bottom;
            margin: 3rem;

            @include breakpoint("medium") {
                width: 80%;
                margin: 7rem auto;
            }

            .post-title {
                font-size: 4rem;
                line-height: 1.3;
                margin-bottom: 2rem;
            }
            .post-date,
            .post-authors {
                font-weight: 200;
                line-height: 1.5;
                font-family: $font__magneta;
            }
            .post-intro {
                border-top-width: 2px;
                border-top-style: solid;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                padding: 1rem 0;
                font-size: 1.1rem;
                font-style: italic;
                line-height: 1.5;
                font-family: $font__roboto;
                margin-bottom: 1rem;


                @include breakpoint("medium") {
                    font-size: 1.3rem;
                }
            }
        }
    }


    &.darkbg {
        color: white;
        .post-intro {
            border-color: rgba(255, 255, 255, .4);
        }
    }
    &.lightbg {
        color: black;
        .post-intro {
            border-color: rgba(0, 0, 0, .4);
        }
    }
}



//Full Header
#full-header {
    .post-header {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 80vh;
        position: relative;


        @include breakpoint("medium") {
            height: 50vh;
        }
    }
    .post-meta {
        max-width: 1200px;
        margin: 0 1rem;
        display: block;
        position: relative;
        margin-top: -10rem;
        background-color: white;
        padding: 1.8rem 2rem 0;

        @include breakpoint("medium") {
            margin: 0 5rem 0 0;
            width: 70%;
            max-width: 1200px;
            margin-top: -8rem;
            padding: 4rem 4rem 0;
        }

        .post-title {
            font-size: 2.5rem;
            margin: 0px;

            @include breakpoint("medium") {
                font-size: 4rem;
                line-height: 1.2;
            }
        }
        .post-date-authors {
            font-family: $font__roboto;
            color: $color-text-gray;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: .05em;
            font-size: .8em;
            margin-bottom: 2rem;
            span {
                color: black;
            }
        }

        .post-intro {
            font-size: 1.2rem;
            font-weight: 200;
            line-height: 1.5;
            font-family: $font__magneta;
            padding-bottom: 2rem;
            border-bottom: 1px solid $color-medgray;

            @include breakpoint("medium") {
                font-size: 1.4rem;
            }
        }
    }
}




//Text Image
.textimg-container {

    background-repeat: no-repeat;

    background-position: top;
    background-size: 100%; //background-attachment: fixed;
    margin: 0 -100%;
    /* old browsers fallback */
    margin: 0 calc(50% - 50vw);
    @include breakpoint("medium") {
        background-size: cover; //height: 100vw;
        background-position: center;
        background-attachment: fixed;
    }
    .textimg-spacing {

        margin: 0 auto; //overflow: scroll;
        padding-top: 15rem;

        @include breakpoint("medium") {
            //height: 100vw;
            margin: 0 auto;
            padding-top: unset;
        }
    }
    .textimg-text {
        font-size: 105%;
        width: 100%;
        padding: 4rem $margin__sides-mobile;
        @include breakpoint("medium") {
            padding: 3rem;
            width: 40%; //margin-left: calc(50% - 16em);
        }
        @include breakpoint("large") {
            width: 40%;
            max-width: 32rem; //margin-left: calc(50% - 18em);
        }
    }
    .darkbg {
        background-color: white;
        @include breakpoint("medium") {
            background-color: rgba(0, 0, 0, .75);
            color: white;
        }
    }

    .lightbg {
        background-color: white;
        @include breakpoint("medium") {
            background-color: rgba(255, 255, 255, .85);
            color: black;
        }
    }
}

//Audio
.audiowidget {
    max-width: 50%;
    float: right;
    display: block;
    position: relative;
    line-height: 1.4;
    padding: 1rem 0 1rem 1.5rem;

    @include breakpoint("large") {
        width: 20%;
        position: absolute;
        right: 0%;
    }
}

//Character
.character-detail {
    width: 20rem;
    float: right;
    display: block;
    position: relative;
    line-height: 1.4;
    padding: 1rem 0 1rem 1.5rem;
    @include breakpoint("medium") {
        width: 20rem;

        margin: 1rem auto 2rem;
    }
    @include breakpoint("large") {
        width: 20rem;
        margin-right: -22rem;
        margin: 1rem 2.3rem 1.5rem 0rem;
    }
    .img-container {
        width: 75px;
        height: 75px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }

    .character-info {
        padding: .5rem 0;
        border-bottom: 1px solid $color-medgray;
        margin-bottom: .5rem;
    }
    .character-name {
        font-size: 1rem;
        font-family: $font__roboto;
        width: 100%;
        line-height: 1.4;
        text-transform: uppercase;
        font-weight: bold;
    }
    .character-desc {
        font-size: .9rem;
        font-family: $font__roboto;
        width: 100%;
    }
    .character-source {
        font-size: .7rem;
        color: #8C898C;
        text-transform: uppercase;
        font-family: $font__roboto;
    }
}



.audio-container {
    width: 20rem;
    float: right;
    display: block;
    position: relative;
    line-height: 1.4;
    padding: 1rem 0 1rem 1.5rem;
    @include breakpoint("medium") {
        width: 20rem;

        margin: 1rem auto 2rem;
    }
    @include breakpoint("large") {
        width: 20rem;
        margin-right: -22rem;
        margin: 1rem 2.3rem 1.5rem 0rem;
    }
}

.audio-title {
    font-size: 1rem;
    font-family: $font__roboto;
    width: 100%;
    line-height: 1.4;
    span {
        font-weight: bold;
    }
}

.audio-desc {
    font-size: .9rem;
    font-family: $font__roboto;
    width: 100%;
    margin-bottom: .5rem;
}

#pButton {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid black;
    border-radius: 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    outline: none;
    margin-right: 1rem;
}

#audioplayer {
    width: calc(100% - 4rem);
    display: block;
    float: left;

    @include breakpoint("large") {}
}

#timeline {
    width: 100%;
    height: 10px;
    margin-top: 10px;
    float: left;
    border-radius: 15px;
    background: rgba(0, 0, 0, .3);
}

#time {
    font-size: .9rem;
    margin-bottom: 2rem;
    @include breakpoint("large") {
        margin-bottom: 0;
    }
}

#playhead {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(0, 0, 0, 1);
}




//blockquote
.quote-fullwidth {
    width: 90%;
    margin: 0 auto 2rem;

    @include breakpoint("medium") {
        margin: 0 auto 2rem;
        text-align: center;
    }
}

.quote-half {
    width: 90%;
    margin: 0 auto 2rem;
    @include breakpoint("medium") {
        width: 40%;
        display: block;
        margin: 0 auto 2rem;
    }
    @include breakpoint("large") {
        width: 20rem;
    }
    @include breakpoint("xlarge") {
        width: 23rem;
    }
}

.quote-half {
    @include breakpoint("medium") {
        float: right;
        margin: 1rem 0 1rem 2rem;
    }
    @include breakpoint("large") {

        margin: 1rem 0 1.5rem 2.3rem;
    }
    @include breakpoint("xlarge") {

        margin: 1rem 0 1.5rem 2.8rem;
    }
    &.quote-highlight {
        @include breakpoint("medium") {
            text-align: right;
        }
    }
}




hr.quoteline {
    width: 40%;
    background-color: transparent;
    margin: 0 auto;
}

.quote-lines {
    display: block;
    padding: 1rem;
    text-align: center;
    .blockquote-content {
        width: 100%;
        display: block;
        margin: 0 auto;
        font-family: $font__magneta;
        font-weight: 200;
        font-size: 1.4rem;
        line-height: 1.5;
        @include breakpoint("medium") {
            font-size: 1.8rem;
        }
        @include breakpoint("large") {
            font-size: 1.8rem;
        }
    }
}

.quote-quotes {
    display: block;


    .icon-quote.start {
        &:before {

            -moz-transform: scale(-1);
            -o-transform: scale(-1);
            -webkit-transform: scale(-1);
            transform: scale(-1);
            filter: Flip;
            -ms-filter: "FlipH";
        }
    }
    .blockquote-content {
        font-family: $font__magneta;
        font-weight: 200;
        font-size: 1.3rem;
        line-height: 1.5;
        width: 80%;
        margin: 0 auto;
        @include breakpoint("medium") {
            font-size: 1.5rem;
        }
        @include breakpoint("large") {
            font-size: 1.6rem;
        }
    }
}


.quote-highlight {
    display: block;


    .blockquote-content {
        font-family: $font__magneta;
        font-weight: 200;
        font-size: 1.3rem;
        line-height: 1.5;
        width: 80%;
        display: inline; //background: yellow;
        padding: 10px 0;

        @include breakpoint("medium") {
            font-size: 1.5rem;
        }
        @include breakpoint("large") {
            font-size: 1.6rem;
        }

        &.yellow-highlight {
            background-color: $highlight-yellow;
            box-shadow: 10px 0 0 $highlight-yellow, -10px 0 0 $highlight-yellow;
            -webkit-box-shadow: 10px 0 0 $highlight-yellow, -10px 0 0 $highlight-yellow;
            -moz-box-shadow: 10px 0 0 $highlight-yellow, -10px 0 0 $highlight-yellow;
        }
        &.black-highlight {
            background-color: $highlight-black;
            box-shadow: 10px 0 0 $highlight-black, -10px 0 0 $highlight-black;
            -webkit-box-shadow: 10px 0 0 $highlight-black, -10px 0 0 $highlight-black;
            -moz-box-shadow: 10px 0 0 $highlight-black, -10px 0 0 $highlight-black;
            color: white;
        }
        &.blue-highlight {
            background-color: $highlight-blue;
            box-shadow: 10px 0 0 $highlight-blue, -10px 0 0 $highlight-blue;
            -webkit-box-shadow: 10px 0 0 $highlight-blue, -10px 0 0 $highlight-blue;
            -moz-box-shadow: 10px 0 0 $highlight-blue, -10px 0 0 $highlight-blue;
            color: white;
        }
        &.light-highlight {
            background-color: $highlight-gray;
            box-shadow: 10px 0 0 $highlight-gray, -10px 0 0 $highlight-gray;
            -webkit-box-shadow: 10px 0 0 $highlight-gray, -10px 0 0 $highlight-gray;
            -moz-box-shadow: 10px 0 0 $highlight-gray, -10px 0 0 $highlight-gray;
        }
    }
}

.img-desc,
.source-caption {
    margin-bottom: 2rem;
    font-size: .9rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
}

.img-desc {
    border-left: 3px solid $color-medgray;
    padding-left: .6rem;
}


.image-group .img-desc {
    border-left: unset;
    padding-left: 0;
}



//ImageGroup
.image-group {
    font-size: .9rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
}

.group-full {
    margin: 3rem 0;
}

.group-half {
    .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }

    @include breakpoint("medium") {
        width: 40%;
        display: block;
    }
    @include breakpoint("large") {
        width: 30%;
        display: block;
    }
}

.group-half {
    @include breakpoint("medium") {
        float: right;

        padding: 0 0 2em 3em;
    }
}



//Dialog
.dialog-container {
    display: block;
    background-color: $color-ltgray;
    padding: 2rem;
    @include breakpoint("medium") {
        max-width: 70%;
    }

    @include breakpoint("large") {
        max-width: 60%;
    }

    span {
        font-family: $font__roboto; //background-color: $highlight-blue;
        //padding: 0 3px; 
        //color: white;
        //background-color: red;
    }
}









//Authors
//
#the-authors {
    margin-top: 5rem;
    max-width: 1000px;
    margin: 3rem auto;
    padding: 0 $margin__sides-mobile;
     @include breakpoint("medium") {
     	padding: 0 3rem;

     }
     h4.subheading {
     	text-align: center;
     	padding: 1rem 0 0;
     	@include breakpoint("medium") {
     		text-align: left;
     		padding:  0;
     }
     }
}

.author-list {
    display: block;
    margin-top: 3rem;
}

h2.heading.underline {
    display: block;
    width: 100%;
    font-size: 3rem;
    display: block;
    line-height: 70%;
            border-bottom: 4px solid $color-ltgray;
            margin-bottom: 1rem;
}

.author-img {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    @include breakpoint("medium") {}

    img {
        display: inline;
        margin: 0 auto;
        width: auto;
    }
}


//Story link
.story-link-div {
    max-width: 700px;
    background-color: $color-ltgray;
    margin: 4rem auto 3rem;
    padding: 3rem 3rem 2rem;
    text-align: center;


    .story-info {
        font-size: .9;
        line-height: 1.3;
        color: $color-medbluegray;
    }

    .story-link a {
        color: $color-blue;
        font-size: 1.5rem;
        margin: 1rem auto 0;

        &:hover {
            color: $color-dkblue;
        }
    }

    .icon-arrow-long-left {
        font-size: 1.5;
    }
}



//Single Image 
.img-fullwidth {
    width: 90%;
    margin: 0 0 2rem;

    @include breakpoint("medium") {
        margin: 0 0 2rem;
        text-align: center;
    }
}

.img-half {
    width: 90%;
    margin: 0 auto 2rem;
    @include breakpoint("medium") {
        width: 40%;
        display: block;
        margin: 0 auto 2rem;
    }
    @include breakpoint("large") {
        width: 35%;
    }
    @include breakpoint("xlarge") {
        width: 30%;
    }
}

.img-half {
    @include breakpoint("medium") {
        float: right;
        margin: 1rem 0 1rem 2rem;
    }
    @include breakpoint("large") {

        margin: 1rem 0 1.5rem 2.3rem;
    }
    @include breakpoint("xlarge") {

        margin: 1rem 0 1.5rem 2.8rem;
    }
}







//Sections
.wpb_text_column,
.dialog-container,
.sectionhead,
h2.post-section {

    @include breakpoint("medium") {
        max-width: 38rem;
    }
    @include breakpoint("large") {
        max-width: 38rem;
    }
}

#block-header .vc_column-inner {
    padding: 0px;
}

//Caption
.vc_figure-caption {
    font-family: "Roboto";
    color: #8C898C;
    border-left: 3px solid #D5D5D5;
    padding-left: 10px;
}

///Section Heading
h2.post-section {

    font-size: 2rem;
    margin-top: 4rem;
    display: block;
    @include breakpoint("medium") {
        font-size: 2rem;
    }
}


section.vc_section {
    max-width: 70rem;
    display: block;
    margin: 1 auto 4rem;
    @include breakpoint("medium") {
        margin: 1 auto 6rem;
        padding: 0 3rem;
    }
}

section.vc_section #full-header,
section.vc_section #block-header {
    margin: 0 calc(50% - 50vw) 3rem;
    width: 100vw;
    .col-xs-12,
    .col-md-6 {
        padding: 0;
    }
}


//Raw HTML Full width;
.wpb_raw_html{
	.fullwidth{
width: 100vw;
    margin: 0 calc(50% - 50vw);
}
}