#wpadminbar {
  display: none;
}

#masthead {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  height: 48px;
  z-index: 5;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  padding: 0.5rem 0px;
  background-color: white;
  column-gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px 0px;
  border-radius: 3px;
  transition: all 0.2s ease-in 0s;
  @include breakpoint("medium") {
    top: 8px;
    height: 54px;
    column-gap: 0.8rem;
  }
}

#masthead.not-a-post {
  display: grid;
  grid-template-columns: 48px auto 48px;
  grid-template-rows: 100%;
  grid-template-areas: "site-logo site-title main-navigation";

  @include breakpoint("medium") {
    grid-template-columns: min-content auto min-content;
  }
}

#masthead.is-single-post {
  display: grid;
  grid-template-columns: 48px auto 48px;
  grid-template-areas: "site-logo site-title main-navigation" "site-logo header__post-info main-navigation";

  @include breakpoint("medium") {
    grid-template-columns: min-content auto min-content;
  }
  @include breakpoint("large") {
    grid-template-rows: 50% 50%;
    grid-template-areas: "site-logo site-title main-navigation" "site-logo header__post-info main-navigation";
  }
}
#site-logo {
  grid-area: site-logo;
  height: auto;
  width: 48px;
  margin-left: 0.5rem;
  align-self: center;

  @include breakpoint("medium") {
    padding-left: 12px;
  }
  img {
    display: block;
    position: relative;
    @include breakpoint("large") {
      height: 100%;
      width: auto;
    }
  }
}

.not-a-post #site-title {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 48px;
  grid-template-areas: "header__site-name";
  grid-area: site-title;
  align-items: center;

  @include breakpoint("large") {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% 60%;
    grid-template-areas: "header__csis-logo header__csis-logo header__csis-logo" "header__site-name header__site-name header__site-name";
  }
}

.is-single-post #site-title {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto;
  grid-template-areas: "header__csis-logo header__site-name";
  grid-area: site-title;
}

#header__csis-logo {
  grid-area: header__csis-logo;
  display: none;
  @include breakpoint("large") {
    display: block;
    height: 20px;
    width: auto;
    opacity: 0.5;
    align-self: end;
  }
}
.is-single-post #header__csis-logo {
  padding-right: 8px;
  @include breakpoint("large") {
    padding-bottom: 0.2rem;
  }
}

#header__post-info {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: 100%;
  grid-template-areas: "header__page-name page-navigation";
  grid-area: header__post-info;
  padding: 0 0 0.3rem;
}

#page-navigation {
  grid-area: page-navigation;
}

.not-a-post #header__site-name {
  grid-area: header__site-name;
  font-size: 16px;
  line-height: 1.1;
  @include breakpoint("small") {
    font-size: 20px;
  }
  @include breakpoint("large") {
    align-self: start;
  }
}

.is-single-post #header__site-name {
  grid-area: header__site-name;
  align-self: center;
  opacity: 0.7;

  @include breakpoint("large") {
    align-self: end;
  }
}

#header__page-name {
  grid-area: header__page-name;
  span {
    font-family: $font__sans;
    text-transform: uppercase;
    color: rgba(#000, $opacity__lighter);
    font-size: $font__size-small;
  }
}

#header__site-name,
#header__page-name {
  position: relative;
  float: left;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
  &:after {
    content: "";
    text-align: right;
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0%;
    width: 40px;
    height: 100%;
    background: -moz-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      white 65%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(65%, white)
    );
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      white 65%
    );
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 65%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 65%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 65%);
  }
}

.main-navigation {
  grid-area: main-navigation;
  padding-right: 1rem;
  ul {
    display: block;
  }
}
