#wpadminbar {
  display: none;
}

#masthead {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  z-index: 5;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  padding: 0.5rem 0px;
  background-color: white;
  column-gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px 0px;
  transition: all 0.2s ease-in 0s;
  display: flex;
  @include breakpoint("medium") {
    width: 98vw;
    border-radius: 3px;
    top: 8px;
    height: auto;
    column-gap: 0.8rem;
  }
  &.totop {
    @include breakpoint("medium") {
      top: 0;
    }
  }
}

#masthead.not-a-post {
}

#masthead.is-single-post {
}

#header-logo {
  display: block;
  height: auto;
  width: 40px;
  margin-left: 0.5rem;
  align-self: center;
  line-height: 1.2;
  align-self: center;
  @include breakpoint("medium") {
    padding-left: 12px;
    width: 40px;
  }
  img {
    display: block;
    position: relative;
    min-width: 48px;
    @include breakpoint("large") {
      height: 100%;
      width: auto;
    }
  }
}
#site-title,
.site-branding {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.not-a-post #site-title {
}

.is-single-post #site-title {
  flex-direction: column;
  align-items: start;
  max-width: calc(100vw - 98px);
  .site-branding,
  #header__post-info,
  #header__page-name {
    width: 100%;
  }
}

#header__post-info {
  padding-left: 0.75rem;
}

#header__csis-logo {
  height: 18px;
  padding: 0 0.3rem 0 0.75rem;
  opacity: 0.7;
  @include breakpoint("small") {
    height: 22px;
  }
}

#header__site-name {
  color: $color__main;
  text-decoration: none;
}

.not-a-post #header__site-name {
  font-size: 16px;
  line-height: 1.1;

  @include breakpoint("small") {
    font-size: 20px;
  }
  @include breakpoint("large") {
    align-self: start;
  }
}

.is-single-post {
  #header__site-name {
    align-self: center;
    opacity: 0.7;
    font-size: 14px;
    color: inherit;
    line-height: 1.1;
  }
  #header__csis-logo {
    height: 16px;
  }
}

#header__page-name {
  font-family: $font__sans;
  font-size: 18px;
  line-height: 1.1;
  padding-top: 4px;
}

#header__site-name,
#header__page-name {
  position: relative;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  flex-grow: 2;
  white-space: nowrap;
  &:after {
    content: "";
    text-align: right;
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0%;
    width: 40px;
    height: 100%;
    background: -moz-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      white 65%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(65%, white)
    );
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      white 65%
    );
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 65%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 65%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 65%);
  }
}

.main-navigation {
  //
  @include breakpoint("medium") {
    padding-right: 1rem;
  }

  ul {
    display: block;
  }
}
