/*==============================
=            Navigation        =
==============================*/

#site-navigation {

    padding: 8px;
    display: flex;
    float: left;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 100%;
    line-height: 1;
    height: $size__header-height-mobile;
    align-items: center;
    @include transition(left .3s ease-in-out);

    @include breakpoint("medium") {
        position: relative;
        display: inline-flex;
        margin-right: 50px;
        height: 100%;
        width: unset;
        top: unset;
        left: unset;
    }
    @include breakpoint("large") {}

    .menu-menu-1-container {
        width: 100%;
        @include breakpoint("medium") {
            width: 0;
            overflow: hidden; //position: relative;
            @include transition(width .3s ease-in-out);
        }
        @include breakpoint("large") {
            width: 100%;
            overflow: unset;
        }
    }
}

#mobile-menu {
    display: flex;
    content: ' ';
    font-family: 'mj';
    position: absolute;
    top: 0;

    width: 3rem;
    height: 100%;
    left: -3rem;
    align-items: center;
    @include breakpoint("medium") {
        left: 0;
        height: 40px;
        position: relative;
        border-left: 1px solid $color-ltbluegray;
        padding-left: 1rem;
    }

    @include breakpoint("large") {
        display: none;
    }

    .icon-close {
        display: none;
    }
}

.icon-menu,
.icon-close {
    font-size: 1.5rem;
}


.mobile-open {
    #site-navigation {
        left: 3rem;
        @include transition(left .3s ease-in-out);
        @include breakpoint("medium") {
            left: unset;
        }
        .menu-menu-1-container {
            @include breakpoint("medium") {
                width: 100%; //overflow: visible;
                @include transition(width .3s ease-in-out);
            }
        }
    }


    #mobile-menu {
        align-text: center;
    }
    #mobile-menu .icon-menu {
        display: none;
    }
    #mobile-menu .icon-close {
        display: block;
    }
}



#primary-menu {
    list-style: none;
    padding: 0 1rem 0 1rem;
    margin: 0;
    display: flex;

    @include breakpoint("medium") {
        height: 100%; //position: absolute;
        padding: 0 1rem 0 1rem;
        height: 40px;
        flex-direction: row;
        display: flex;
        align-items: center;
    }
    @include breakpoint("large") {
        border-left: 1px solid $color-ltbluegray;
        position: relative;
        width: unset;
    }


    li {
        display: flex;
        float: left;
        display: block;
        margin-right: 2rem;
        @include breakpoint("medium") {
            float: unset;
            display: flex;

            line-height: 1;
            flex-shrink: 0;
        }

        a {

            text-decoration: none;
            color: gray;
            font-family: $font__roboto;
            letter-spacing: .5px;
            font-size: .8rem;
            text-transform: uppercase;
            line-height: 24px;

            @include transition(color .3s ease-in-out);
            @include breakpoint("medium") {
                font-size: .9rem;
                line-height: 1.5;
            }

            &:hover {
                color: black;
            }
        }
    }
}