.page .site-content {
  padding: 32px 20px;
  margin: 0 auto;
  display: block;
  max-width: 1200px;

  @include breakpoint("small") {
    padding: 48px 6vw 0;
  }
  @include breakpoint("medium") {
    padding: 72px 8vw 0;
  }
  @include breakpoint("large") {
    padding: 72px 72px 0;
  }
  @include breakpoint("xlarge") {
    padding-top: 80px;
  }
  h1.entry-title {
    @include breakpoint("small") {
      margin-top: 32px;
    }
    @include breakpoint("medium") {
      margin-top: 40px;
    }
    @include breakpoint("large") {
      margin-top: 48px;
    }
  }
}
.home .site-content {
  padding: 0px 20px !important;
  margin: 0 auto;
  max-width: 1200px;

  @include breakpoint("small") {
    padding: 0px 6vw 0 !important;
  }
  @include breakpoint("medium") {
    padding: 0px 8vw 0 !important;
  }
  @include breakpoint("large") {
    padding: 72px 72px 0 !important;
  }
  @include breakpoint("xlarge") {
    padding-top: 0px !important;
  }
}

.site {
  width: 100vw;
  overflow: hidden;
}

.post-block {
  text-decoration: none;
  filter: grayscale(60%);

  @include transition(filter 1s ease-in-out);
  @include breakpoint("small") {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-column-gap: 24px;
    grid-template-areas: "postthumb postcontent";
  }
  h2 {
    @include transition(color 0.5s ease-in-out);
  }
  img {
    @include transition(height 0.7s ease-in-out);
  }
  &:hover {
    filter: grayscale(0%);
    @include transition(filter 0.5s ease-in-out);

    h2 {
      color: $color__main-light;
      @include transition(color 0.5s ease-in-out);
    }
    img {
      height: 110%;
      @include transition(height 0.7s ease-in-out);
    }
  }

  .post-entry-thumb {
    grid-area: postthumb;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 200px;
    position: relative;
    display: block;
  }
  .post-entry-content {
    grid-area: postcontent;
  }
}

.post-entry-header,
.home-feature_sidebar h2 {
  margin-bottom: 0;
  margin-top: 0;
  h2 {
    margin-bottom: 0px;
  }
  a {
    color: $color__main;
    font-size: 24px;
    text-decoration: none;
    @include breakpoint("medium") {
      font-size: 32px;
    }
  }
}
.home-feature_sidebar h2 {
  font-size: 20px !important;
  line-height: 1.1;
  @include breakpoint("medium") {
    font-size: 24px;
    line-height: 1.1;
  }
  a {
    color: $color__main;
    font-size: 20px !important;
    line-height: 1.1;
    @include breakpoint("medium") {
      font-size: 24px;
      line-height: 1.1;
    }
  }
}

.featured-stories .post-block {
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  @include breakpoint("small") {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    grid-column-gap: 32px;
  }

  @include breakpoint("large") {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-column-gap: 50px;
  }

  .post-entry-thumb {
    height: 300px;
    margin-bottom: 1rem;
  }
}

.featured-stories .post {
  margin-bottom: 4rem;
  border-bottom: 1px solid $color__hr;
  &:first-of-type {
    margin-top: 3rem;
  }

  &:last-of-type {
    border-bottom: none;
  }
}
